* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .box {
  width: 800px;
  height: 500px;
  background-color: lightblue;
}

@media screen and (min-width: 900px) {
  .box {
    background-color: red;
  }
}
/* breakpoints in css - media queries */

/* @media screen and (max-width: 800px) {
  .box {
    width: 300px;
  }
}  */

body {
  padding: 0 40px;
}

header {
  width: 100%;
  height: 70px;

  .header_container {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #595959;

    h2.long_title {
      display: none;
    }
    ul.classic_menu,
    .burger_menu_links {
      display: none;
    }
    ul.classic_menu {
      gap: 40px;
      list-style: none;

      a {
        text-decoration: none;
        color: #2c2825;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .burger_menu_links {
      position: absolute;
      top: 36px;
      right: -25px;
      background-color: white;
      border: 1px solid #595959;
      li {
        list-style: none;
        border-bottom: 1px solid #595959;
        a {
          text-decoration: none;
          color: #595959;
          font-size: 18px;
          padding: 10px;
        }
      }
    }

    div.burger_menu:hover .burger_menu_links {
      display: block;
    }
    div.burger_menu {
      position: relative;
    }
  }
}

@media screen and (min-width: 800px) {
  h2.short_title {
    display: none;
  }

  header .header_container h2.long_title {
    display: block;
  }

  div.burger_menu {
    display: none;
  }
  header .header_container ul.classic_menu {
    display: flex;
  }
}
