* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .box {
  width: 800px;
  height: 500px;
  background-color: lightblue;
}

@media screen and (min-width: 900px) {
  .box {
    background-color: red;
  }
}
/* breakpoints in css - media queries */

/* @media screen and (max-width: 800px) {
  .box {
    width: 300px;
  }
}  */
