* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .box {
  width: 800px;
  height: 500px;
  background-color: lightblue;
}

@media screen and (min-width: 900px) {
  .box {
    background-color: red;
  }
}
/* breakpoints in css - media queries */

/* @media screen and (max-width: 800px) {
  .box {
    width: 300px;
  }
}  */

body {
  padding: 0 40px;
}

header {
  width: 100%;
  height: 70px;

  .header_container {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #595959;

    h2.long_title {
      display: none;
    }
    ul.classic_menu,
    .burger_menu_links {
      display: none;
    }
    ul.classic_menu {
      gap: 40px;
      list-style: none;

      a {
        text-decoration: none;
        color: #2c2825;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .burger_menu_links {
      position: absolute;
      top: 36px;
      right: -25px;
      background-color: white;
      border: 1px solid #595959;
      li {
        list-style: none;
        border-bottom: 1px solid #595959;
        a {
          text-decoration: none;
          color: #595959;
          font-size: 18px;
          padding: 10px;
        }
      }
    }

    div.burger_menu:hover .burger_menu_links {
      display: block;
    }
    div.burger_menu {
      position: relative;
    }
  }
}

/* section first */
section.first {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 35px;
    margin-bottom: 44px;
  }
  div.background_image {
    background-image: url(./images/pexels-danielnouri-8253780.jpg);
    background-size: cover;
    width: 263px;
    height: 570px;
    display: flex;
    align-items: end;
    padding: 0 0 20px 20px;
    border-radius: 28px;
    position: relative;
  }
  p.sale {
    position: absolute;
    width: 130px;
    height: 120px;
    text-align: center;
    font-size: 20px;
    line-height: 160%;
    left: 32px;
  }
}

/* section second */
section.second {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: #575757;
    font-size: 20px;
  }
  p.about_paragraph {
    font-size: 25px;
    width: 240px;
    height: 104px;
    text-align: center;
    margin: 20px 0 40px 0;
  }
  .about_us {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffc800;
    width: 100px;
    height: 31px;
    padding-left: 8px;
    border-radius: 4px;
    .bullet {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: black;
    }
    a {
      font-size: 14px;
      text-decoration: none;
      color: black;
    }
  }

  div.side_scroll {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    display: flex;
    gap: 13.25px;
    margin: 120px 0 37.4px;
    justify-content: center;
  }
  h3 {
    font-size: 35px;
    margin-bottom: 40px;
  }
}

/* responsive */

/* tablet */
@media screen and (min-width: 800px) {
  h2.short_title {
    display: none;
  }

  header .header_container h2.long_title {
    display: block;
  }

  div.burger_menu {
    display: none;
  }
  header .header_container ul.classic_menu {
    display: flex;
  }
  section.first h1 {
    font-size: 80px;
  }
  section.first div.background_image {
    background-image: url(./images/pexels-faith-matthews-3351498-320116.webp);
    width: 640px;
    height: 570px;
  }
}
/* desktop */
@media screen and (min-width: 1200px) {
  section.first h1 {
    font-size: 120px;
  }
  section.first div.background_image {
    background-image: url(./images/pexels-joshsorenson-1384898.webp);
    width: 1120px;
    height: 570px;
  }
}
